<div class="flex justify-center">
    <form [formGroup]="form">

        <div class="pt-4 pb-4">
            <span class="p-float-label">
                <input pInputText id="name" formControlName="name" />
                <label for="name">Nome</label>
            </span>
        </div>

        <div class="pt-4 pb-4">
            <span class="p-float-label">
                <input pInputText id="email" formControlName="email" />
                <label for="email">E-mail</label>
            </span>
        </div>

        <div class="pt-4 pb-4">
            <span class="p-float-label">
                <input pInputText id="password" formControlName="password" type="password" />
                <label for="password">Senha</label>
            </span>
        </div>

        <p-button label="Cadastrar" (click)="submit()" [loading]="loading"></p-button>

    </form>
</div>
