<div class="flex justify-center">
    <form [formGroup]="form" autocomplete="one-time-code">

        <div class="pt-4 pb-4">
            <span class="p-float-label">
                <input pInputText id="email" formControlName="email" autocomplete="one-time-code"/>
                <label for="email">E-mail</label>
            </span>
        </div>

        <div class="pt-4 pb-4">
            <span class="p-float-label">
                <input pInputText id="password" formControlName="password" type="password" autocomplete="one-time-code"/>
                <label for="password">Senha</label>
            </span>
        </div>

        <p-button label="Acessar" (click)="submit()" [loading]="loading"></p-button>

    </form>
</div>
