@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import 'ngx-toastr/toastr';

@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer reset, primeng;

@layer reset {
    button {
        &:focus {
            box-shadow: none;
        }
    }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
